:root { 
--bluegray_50:#e9eff4; 
--white_A700_3f:#ffffff3f; 
--deep_purple_400:#7c4dc4; 
--bluegray_900_65:#252d3665; 
--black_900_3f:#0000003f; 
--blue_400_b2:#4da1ffb2; 
--blue_400_19:#4da1ff19; 
--deep_purple_A200:#7737ff; 
--pink_300:#fb5392; 
--gray_600:#858585; 
--pink_300_7f:#fb53927f; 
--gray_601:#7f7f7f; 
--gray_400:#c7c7c7; 
--gray_401:#c4c4c4; 
--amber_500:#ffd012; 
--gray_200:#eeeeee; 
--bluegray_800:#323c47; 
--bluegray_600:#4c5d77; 
--bluegray_200:#bbc8d4; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--deep_purple_A200_33:#7737ff33; 
--light_blue_A400:#0bbef2; 
--black_900_1c:#0000001c; 
--gray_50:#f3f6ff; 
--black_900:#000000; 
--orange_500_7f:#ff99007f; 
--deep_orange_400:#ff6d4a; 
--black_900_26:#00000026; 
--gray_501:#999999; 
--gray_301:#e6e6e6; 
--gray_500:#989898; 
--blue_401:#4da1ff; 
--gray_900:#14141b; 
--bluegray_100:#d2d2d2; 
--orange_500:#ff9900; 
--deep_purple_A200_7f:#7736ff7f; 
--gray_300:#dadada; 
--gray_100:#f5f5f5; 
--bluegray_900:#333333; 
--gray_900_3f:#2929293f; 
--deep_orange_400_19:#ff6d4a19; 
--bluegray_500:#6d7d8b; 
--indigo_900_26:#00006d26; 
--bluegray_300:#9baabf; 
--blue_400:#4da0fd; 
--indigo_900:#00006d; 
--indigo_100_38:#c2c2ef38; 
--bluegray_902:#172c3f; 
--bluegray_901:#25313c; 
}